# Supabase Configuration
VITE_SUPABASE_URL=https://tjhfwznvktaiyanysqaj.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqaGZ3em52a3RhaXlhbnlzcWFqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMDY4MDcsImV4cCI6MjA5Mjg4MjgwN30.HksWzT1hQqnvjsmGaSU7B9nOBCLip02YYpF8gNR9zQI
